doctype html
html
  head
   link(rel="stylesheet" href="css/styles.css")
  body
    header header
    .wrapper
     .central-box centralBox
     .left-box leftBox
     .right-box rightBox
    footer footer
 
