{{#panels}}
<div class="resultItem">
	<h3 class="title">{{title}}</h3>
	<p class="desc">{{desc}}</p>
	<ul class="links">
	{{#links}}
		<li><a href="{{url}}">{{title}}</a></li>
	{{/links}}
	</ul>
</div>
{{/panels}}
